
#mainNav{
  border-color: rgba(34, 34, 34, 0.05);
  background-color:#495c5cf4;
  /* transition: all .35s; */
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
 
}
.navBar{
  border-bottom: 3px black;
}

ul{
  list-style: none;
  padding: 10px;
}

#ulHorizontal li{
  display: inline;
  padding: 10px; 
  font-size: 15px; 
  font-weight: 600; 
  color: white;
 }
 
.headText{
  font-size: 50px;
  font-weight:900;
  -webkit-text-stroke:2px black;
  padding-left: 20px;
  color: whitesmoke;
  text-shadow: 2px 2px red;
}

.headText:hover{
  color: black;
  -webkit-text-stroke:2px whitesmoke;
   
}

ul a{
  color: white;
  text-decoration:none;
}

ul a:hover{
  color: coral;
}