/* Navbar */
#mainNav{
  border-color: rgba(34, 34, 34, 0.05);
  background-color:#495c5cf4;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
 
}
.navBar{
  border-bottom: 3px black;
}

.ulNavbar ul{
  list-style: none;
  padding: 10px;
}

#ulHorizontal li{
  display: inline;
  padding: 10px; 
  font-size: 14px; 
  font-weight: 600; 
  color: white;
 }
 
.headText{
  font-size: 50px;
  font-weight:900;
  -webkit-text-stroke:2px black;
  padding-left: 20px;
  color: whitesmoke;
  text-shadow: 2px 2px rgb(119, 5, 5);
}

.headText:hover{
  color: black;
  -webkit-text-stroke:2px whitesmoke;
   
}

ul a{
  color: white;
}

ul a:hover{
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: transparent;
}


/* Hero Section */
#bio-image{
  padding: 10px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.hero-banner{
  color: aqua;
  background-image: url("../images/hero-bg.jpg");
  text-shadow: 1px 1px 4px #8d0606;
  border-bottom:5px solid rgba(27, 45, 48, 0.633);
}

/* About Me */
/* .page-section h2{ */
  h2{
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bolder;
  padding-left: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-section{
  padding-top: 10px;
  background-image: url("../images/hero-bg.jpg");

}

#about-para{
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.round-border{
  border-radius: 25px;
  border: 2px solid #0a0a0a; 
  padding: 10px;
  background-color: white;
  border-bottom: 10px  solid #2d2d2da5;

}


/* works */
.works h2{
  color: white;
  text-shadow: 2px 2px 4px #8d0606;
  text-decoration: transparent;
  margin-top: 50px;
}

.card{
  width: 25rem;
  height: 50rem;
  margin: 0 auto;
  border-radius: 15px;
}

.card-title{
  font-weight: bold;
  color: grey;
}

.cardContainer {
  margin-bottom: 15px;
}

.cardContainer:hover{
  /* transform: translateY(-20px); */
  transform: translate(-20px, -30px) scale(1.2);

}

.card-text{
 height: 140px;
}

.card-img-top{
  border-radius: 15px;
  padding: 2px;
  height: 250px;
  width: 250px;
}

.btn{
  color:white;
  background-color:#160367;
}


.btn:hover{
  box-shadow: 3px 9px #888888;
}

/* Contact Me */
.contact-section{
  background-color: rgba(179, 178, 178, 0.382);
  border-radius: 25px;
  margin: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 10px  solid #2d2d2da5;
}
.list-align{
  text-align: center;
}
.contact-text h2{
  color: white;
  text-shadow: 2px 2px 4px #8d0606;
  text-decoration: transparent;
  text-align:center;
}

.contact-section ul a{
  color: #000000;
  text-shadow: 2px 2px 4px whitesmoke;
}

.contact-section ul a:hover{
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
}

.fa{
  padding-left:30px;
  padding-right: 5px;
  color: rgb(5, 4, 4);
  font-size: 40px;
 
}



/* Footer */

/* .footer-section{
  background-color:#495c5cf4 ;
  padding: 10px;
} */

/* .foot{
  background-color:#495c5cf4 ;
} */

